
.services-sec-1{
   margin-top: 0;
    background-color: #1d1d1d;
    min-height: 50vh;
    width: 100%; 
    color: #ecebeb;
}
.services-sec-1 h1{
  padding-top: 20%;
  padding-left: 8%;
  left: 10rem;
  color: #fff;
  font-weight: 300;
  width: 100%;
  font-size: 4rem;
  font-family: "Rubik Maze", system-ui;
}
.services-sec-1 p{
    font-family: "Rubik Maze", system-ui;
    margin-top: 2rem;
    padding-top: 3rem;
    color: #ecebeb;
    padding-left: 4%;
    letter-spacing: .1rem;
    font-weight: 140;
    margin-left: 4rem;
    padding: 3rem;
}

/* service sec 2 */

.services-sec-2{
    padding-top: 3%;
    padding-left: 2%;
    left: 3rem;
    width: 100%;
    font-family: "Rubik Maze", system-ui;
}
.services-sec-2 h1{
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem 2rem .5rem;
    margin-top:1.2rem ;
    margin-bottom: 1rem;
    font-size: 2.9rem;
    font-weight: 350;
    font-family: "Rubik Maze", system-ui;
}
.services-sec-2 span{
   margin-right: 2rem;
   height: 4rem;
}

.services-sec-2 img{
  height: 20rem;
  width: 6rem;
}

.services-sec-2 h1 :hover{
  text-decoration: none;
}

.services-sec-2 hr{
    width: 805;
    color: #c8c7c7;
    margin: 10px;
}

/*............ Section Image........ */
.section-image {
 padding: 3rem;
 width: 300rem;
 height: 200rem;
   
}
.section-image img{
    height: 80vh;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
}

/*.......... Footer................... */

.footer-service {
    width: 100%;
    padding: 20px 40px 20px;
    background-color: #1d1d1d;
    margin-bottom: 0%;
  }
  
  hr {
    width: 100%;
    border: o;
    border-top: 1px solid;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
  }
  
  .footer-left-col {
    flex-basis: 60%;
    margin-left: 30px;
  }
  
  .footer-right-col {
    flex-basis: 30%;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .link-title h4 {
    color: #dddcdc;
    margin-bottom: 15px;
  }
  
  .link-title a {
    color: #d3d3d3;
    margin-top: 10px;
  }

  .link-title a:hover{
    border-bottom: 1px solid #fff;
    transition-delay: 25ms;
 }
  
/* Service - container */
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  
}

.card-row{
  display: flex;
  flex-direction: row;
}

.cards{
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 20rem;
  align-items: center;
  justify-content: center; 
  margin-right: 1rem;
  padding: 1rem;
   margin-bottom: 2rem;
   margin-right: 3rem;
   margin-top: 4rem;
   box-shadow: 0px 16px 48px 0px rgba(116, 116, 116, 0.176);
   
}

.cards img{
  height: 4rem;
  width: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cards h5{
  color: #363535;
  margin-bottom: 1rem;
}

.cards button{
  background-color: #5f5f5f;
  color: #ecebeb;
  border-radius: 2px;
  padding: 1rem;
}
.cards button a{
  color: #ecebeb;
}

.cards p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: small;
}

/* service-image */
.carousel-inner {
display: flex;
padding: 3rem;
height: 100vh;
}
.carousel-inner img{
  background-size: cover;
}
.carousel-item img{
  height: 80vh;
}