
.about-sec-1 {
  min-height: 50vh;
  width: 100%;
  background-color: #ecebeb;
}
.about-sec-1 h1 {
  padding-top: 20%;
  padding-left: 8%;
  left: 30px;
  color: #393939;
  font-weight: 400;
  width: 100%;
  font-size: 3.7rem;
  font-family: "Rubik Maze", system-ui;
}
.about-sec-1 p {
  font-family: "Rubik Maze", system-ui;
  margin-top: 15px;
  padding-top: 10px;
  color: #393939;
  padding-left: 4%;
  font-weight: 380;
  letter-spacing: 1px;
  margin-left: 59px;
  padding: 50px;
}

/*................................ About sec 2 ..................................*/

.about-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col h1 {
  padding-top: 20%;
  padding-left: 12%;
  left: 30px;
  color: #484848;
  font-weight: 350;
  font-size: 2.5rem;
  font-family: "Rubik Maze", system-ui;
  margin-bottom: 10%;
}

.about-right-col {
  flex-basis: 50%;
}

.about-right-col img {
  height: 600px;
  width: 800px;
  border-radius: 15px;
  margin-left: 70%;
}

/* Text Section-1  => about sec 3 */

.about-sec-3 {
  min-height: 50vh;
  width: 100%;
  background-color: #fffefe;
}

.about-text p {
  font-family: "Rubik Maze", system-ui;
  margin-top: 15px;
  padding-top: 10px;
  color: #393939;
  padding-left: 4%;
  font-weight: 350;
  margin-left: 59px;
  padding: 50px;
  width: 60%;
}

/* ................Image section.............  */
.about-image {
  padding: 5px;
  position: relative;
  height: 100vh;
  width: 90vw;
  margin: auto;
  border-radius: 10px;
  background-image: url("C:\Users\lenovo\Desktop\HTML AND CSS\MES\Digixion\public\tree2jpg.jpg");
  background-size: cover;
  opacity: 0.8;
}
.overlay h1{
  
  padding-top: 20%;
  padding-left: 8%;
  left: 30px;
  color:white;
  font-weight: 330;
  width: 100%;
  font-size: 3rem;
  font-family: "Rubik Maze", system-ui;
  margin-left: 100px;
 

}

/*.............. Text-section-2 => about-sec-5 ............. */

.about-sec-5 {
  width: 100%;
  background-color: #fffefe;
}

.about-sec-5 .about-text-2{
  margin-bottom: 15%;
  margin-top: 5%;
}

.about-text-2 p{
  margin-left: 40%;
  font-family: "Rubik Maze", system-ui;
  margin-top: 15px;
  color: #393939;
  font-weight: 380;
  padding: 50px;
  width: 60%;
}

/*............... footer............. */
.footer {
  padding: 20px 40px 20px;
  background-color: #1d1d1d;
}

hr {
  width: 100%;
  border: o;
  border-top: 1px solid;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.footer-left-col {
  flex-basis: 60%;
  margin-left: 30px;
}

.footer-right-col {
  flex-basis: 30%;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-title h4 {
  color: #dddcdc;
  margin-bottom: 15px;
}

.link-title a {
  color: #d3d3d3;
  margin-top: 10px;
}

.footer .copyright-text {
  color: #c8c7c7;
  font-size: small;
  font: 200;

  margin-top: 50px;
  margin-bottom: 20px;
}
.footer-right-col p {
  text-align: right;
  margin-bottom: 1px;
  margin-right: 5px;
}
